<div  class=" fixed-top" style="background-color: rgb(37, 41, 40); width: 20%; height: 850px; margin-top: 150px; float: left; display: flex;">

  <div style="width: 20%; background-color: rgb(32, 32, 29);"><h3></h3></div>

   <div style="width: 80%;" >
    <ul  class="nav nav-pills flex-column mb-auto">
      <li>
        <a style="font-size: 25px; color: rgb(151, 15, 15);" href="#" class="nav-link text-white">
          <svg  width="16" height="16"></svg>
          HOME
        </a>
      </li>

      <li class="hover-change" *ngFor="let Name of _Menu; let i=index;"  (click)="OpentMenu(Name[0])" >
        <a href="#" class="nav-link "  >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        {{Name[0]}}
        </a>
      </li>
    </ul>
   </div>
  </div>



